:root {
    --Dark-Blue-color1: #10232A;
    --Light-Blue-color2: #3D4D55;
    --Light-Grey-color3: #A79E9C;
    --White-color4: #D3C3B9;
    --Tan-color5: #B58863;
    --Black-color6: #161616;

    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;

    --nord4: #D8DEE9;
    --nord5: #E5E9f0;
    --nord6: #ECEFF4;

    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;

    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}

/* Reset default margins and padding */
html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nord0);
    text-align: center;
    margin: 0;
    color: var(--nord4)
}

header h1 {
    margin: 0;
    padding: 10px;
    text-align: left;
}

.header {
    margin: 0;
    padding : 1.5em;
    margin-left: 3em;
    font-family: monospace, Helvetica, Arial, sans-serif;
    /* font-family: Lato,"Segoe UI",Verdana,Arial,sans-serif; */
    /* position: fixed; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3em;
}

nav a {
    justify-content: space-around;
    align-items: center;
    background-color: var(--nord3);
    padding: 12px 20px;
    margin-right: 10px;
    border-radius: .4em;
    font-weight: bold;
    color: var(--nord4);
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

nav a:hover {
    background-color: #161616;
}


body {
    background-color: var(--nord0);
}

body .main-container {
    margin: 4em 13em;
}

body h2 {
    background-color: var(--nord3);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    border-radius: .25em;
    color: var(--nord4)
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nord0);
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: var(--nord4);
    padding: 3em 5em;
    margin: 4em 15em;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 3em;
}

.social-media a {
    text-decoration: none;
    color: var(--nord4);
    border-radius: .4em;
    padding : 10px 10px;
}

.social-media a:hover {
    text-decoration: none;
    background-color: var(--nord3);
}